<html>
<head>
  <title>Login</title>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{% load static %}
    <link type="text/css" href="{% static 'qa/bootstrap.min.css' %}" rel="stylesheet" />

    <link type="text/css" href="{% static 'qa/StyleSheet1.css' %}" rel="stylesheet" />

	<script src="https://disapp.000webhostapp.com/master/location.js"></script>
   <script src="https://disapp.000webhostapp.com/master/validator.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.
js"></script>

</head>
<!--
<div  class="container">
  <div   class="jumbotron other-color">
    <h2>DisApp-Login</h2>      
 
</div>
</div>
<script>
function hel(){
    //$('#filter').show();
     // $('#filter').html("AaA");
      //}else{ // else the tag shouldn't be visible
      //$('#filter').hide();
}
</script>
-->
<body onload="javascript:getCurrentGeolocation()">

<div  class="container">
  <div   class="jumbotron other-color">
    <h2>DisApp-Login</h2>      
 
</div>
</div>
 
<div class="container">
 <div class="col-sm-4 col-sm-offset-4">
  <form name="login" data-toggle="validator" action="/qa/disclaimer/" method="POST">
	{% csrf_token %}
	<input type='hidden' name='csrfmiddlewaretoken' value='vTSVwtrW75UlHw0XO4SPehjl6238Q842' />
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>     <div class="help-block with-errors">
    </div>
   
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" name="pswd" placeholder="Enter password" required>
    </div>

	<p style="color:red;">  </p>
<div>
  <!-- <h4 ><span class="label label-primary" ID="filter">some filter</span></h4> -->
</div>
 <div class="form-group">
      <input type="hidden"  class="form-control" id="location" name="location" placeholder="lat lon">
    </div>

	<p style="color:#d41414;">  </p>
   <div class="form-group">
<div class="checkbox">
  <label><input type="checkbox" name="rem" id="remember_me" value="1" checked>Remember Me</label>
</div>
    <input type="submit" class="btn btn-info" value="Login" /><a href="/qa/signup/">
    	&nbsp;
    	 <input type="button" class="btn btn-info" value="Sign Up" /></a>
     </form>
    </div>
    </div>


  </body>
</html>

