<!DOCTYPE html>
<html lang="en">
<head>
  <title>DisApp-Risk Analyser</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>DissApp Analyser</h1>      
    <p>Analyse the dengue risk</p>
	<p> {{ question.name }} </p>
{% for answer in question.answers %}
<p><input type="radio" name="{{ question.id }}"  value="{{ answer }}" />{{ answer }}</p>
{% endfor %}
</div>
</div>

</body>
</html>
