<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://disapp.000webhostapp.com/master/location.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<Script src="https://raw.githubusercontent.com/1000hz/bootstrap-validator/master/js/validator.js"></script>
<style>
.other-color{
    background:lightblue
  }
  h1{
    color: lightgreen;
}
test{
color:SpringGreen
}
tab
{
padding-left: 3em; 
}
line
{line-height: 20px;
}
  </style>
<div  class="container">
  <div   class="jumbotron other-color">
    <h1>DissApp Analyser</h1>      
    <p>Ways to stop Dengue:</p>
 
</div>
</head>
<body>
<h4>To protect your home:<h4>
<h5>
<line>
1.Turn over empty flower pots and buckets, so water does not collect 
<br>2.Change water in flower pots at least once a week
<br>3.Cover tightly containers with water that cannot be emptied
<br>4.Cover waste bins when not being used
<br>5.Cover widows and outside doors with mosquito netting
<br>6.Plant Tulsi near your windows to keep away mosquitoes
<br>7.Clear out stagnant water from your property at least once a week
<br>8.Clear out unnecessary tires, bottles, coconut shells, waste etc from your compound
<br>9.Clear out rain water collecting on porches/balcony/terrace
<Br>10.Burn camphor at home at sunrise and sunset
</line>
</h5>
<br>

	<h4>To protect yourselves:</h4>
<h5>
<line>
1.Put on medication such as ODOMOS all over uncovered skin to stop mosquito bites

<br>2.Wear long-sleeves and long pants/dhoti to cover your arms and legs.

<br>3.Wear light-colored clothing (White color is best), since mosquitoes are more attracted to darker colors

<br>4.Use mosquito nets while sleeping
<br>5.If someone at home is sick with dengue, put him/her under a mosquito net to prevent mosquitos from biting them and spreading the disease
</line>
</h5>
<a href="/qa/form/"><button type="button" class="btn btn-success">Give us your feedback</button></a>
    
    

    
  </body>
</html>

