<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://disapp.000webhostapp.com/master/location.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<Script src="https://raw.githubusercontent.com/1000hz/bootstrap-validator/master/js/validator.js"></script>
<style>
.other-color{
    background:lightblue
  }
  h1{
    color: lightgreen;
}
test{
color:SpringGreen
}
tab
{
padding-left: 3em; 
}
  </style>
<div  class="container">
  <div   class="jumbotron other-color">
    <h1>DissApp Analyser</h1>      
    <p>Disclaimer and Terms of Use:</p>
 
</div>
</head>
<body>
<p><h4>
	<tab> Disapp is purely meant as a free educational tool to teach users about

dengue risk and how to reduce it. It is not meant to diagnose dengue infection or to be a substitute for

qualified medical advice. No guarantee is made as to the accuracy of the provided risk estimate and the

developers are not liable in any way for any issues that may arise from your use of Disapp.</tab></t</</h4>
</p>
<a href="/qa/claim/"><button type="button" class="btn btn-success">I Agree</button></a>
    
    

    
  </body>
</html>

